<a href="{% url 'create_checkout_session' 'basic' %}">Choose Basic</a>
<a href="{% url 'create_checkout_session' 'pro' %}">Choose Pro</a>
<a href="{% url 'create_checkout_session' 'enterprise' %}">Choose Enterprise</a>

{% if user.subscription.tier == "pro" %}
    <a href="/advanced-analytics/">Advanced Analytics</a>
{% endif %}

{% if user.subscription.tier == "basic" %}
    <a href="{% url 'create_checkout_session' 'pro' %}">Upgrade to Pro</a>
{% endif %}

{% if can_access_analytics user %}
    <a href="/analytics/">Advanced Analytics</a>
{% endif %}
